@font-face{
    src: url(font/Nauman-DemiBold.otf);
    font-family:'nauman';
}
body{
    background-color: black;
}
.navbar-default {
    background-color:white;
    background-image: none;
    background-repeat: no-repeat;
   }
.nav-link{
    font-family: 'nauman';
    color: white;
    font-size: 0.9rem;
}
.dropdown-item{
    font-family: 'nauman';
    color:black;
}
.dropdown-menu{
    width: 00px !important;
}
li {
    margin-right: 60px;
}

.mlr-eq {
    margin-left: 350px;
}
.form-control{
    background-color: black;
    font-family: 'nauman';
    height: 30px;
    border: 0;
    width: 100px !important;
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 220px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0px;
    caret-color:transparent;
    line-height: 20px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 100px;
    caret-color:black;
    color: black;
    font-family: 'nauman';
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: black;
    }

    .search_icon{
    height: 20px;
    width: 20px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80%;
    color:black;
    }
.carousel-item{
    margin-left: 20px;
    padding-right: 45px;

}
.row{
    margin-left: 20px;
    margin-right: 20px;
}
.card{
    border: 0;
    margin-bottom: 50px;
    width: 550px;
}
a.custom-card,
a.custom-card:hover {
  color: inherit;
}
.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color:transparent;
    border: 0;
}
.btn-primary:hover{
    background-color:transparent; 
    border: 0; 
}
.container{
    font-family: 'nauman';
    color: white;
}
input{
    color: whitesmoke;
}